$graph-width: 80%;
html, body, #root {
  width: 100%;
  height: 100%;
}

.App {
    width: 100%;
    height: 100%;
    background-color: #999999;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.WorkArea{
  float: left;
  width: $graph-width;
  height: 100%;
}
.EditorArea{
  float: right;
  width: 100-$graph-width;
  height: 100%;
  background-color: #1111FF;
  color: white;
}
.GraphPanel { display: -ms-flex; display: -webkit-flex; display: flex;   height: 100% }
.GraphPanel>div { flex:1; }
.GraphPanel>div>svg { flex:1; }